.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #D9D9D9;
    padding: 2.5em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: right; 
    list-style-type: none;
    color: black;
}

.social_list li {
    margin-right: 10px; 
}

.social_list svg:hover {
    fill: blue; 
}

.social_list svg{
    fill: black;
    font-size: 2.25em;
    cursor: pointer;
    transition: fill 0.3s;
}

.copy_right{
    text-align: left;
    align-items: flex-start;
    color: #626569;
}

.copy_right span{
    font-weight: bold;
}

.text{
    text-align: left;
    align-items: flex-start;
    color: #626569;
}

.textRight {
    right: 0;
    position: relative;
    justify-content: flex-end;
    color: #626569;
    padding-left: 340px;
}

.textRightEnd {
    position: relative;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    color: #626569;
    padding: 5px;
}

.paragrafo{
    margin-bottom: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 0;
}

.logoCEFET {
    width: 300px;
    height: 90px;
    float: left;
    margin-top: 0;
}

.textoRow{
    display:flex;
    flex-direction: row;
    
}