.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #090E17;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 15px;
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    justify-content: space-around; 
}

.item{
    margin-right: 1em;
}

.item a{
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    color:blue;
}

.small_image {
    width: 170px; 
    height: auto; 
}

.localLogo{
    justify-content: left;
}

.test{
    background-color: blue;
}

.dropdown-menu{
    background-color: var(--cabecalho-color)
}
.dropdown-divider{
    background-color: var(--select-color)
}
.dropdown-item{
    color: white;
}